.header {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 200px;
}

.test {
    width: 632px;
    height: 297px;
    background: url('../../assets/images/open-grade-bg.png') no-repeat;
    background-size: 100% 100%;
}